
    <!DOCTYPE html>
    <html>
      <head>
        <meta charset="UTF-8">
        <title>Depeg Status</title>
      </head>
      <body>
        <h1>Depeg Status</h1>
        <p>Updates every 5 minutes</p>
        
        <table>
            <thead>
                <tr>
                    <th>Pool Name</th>
                    <th>Depeg Level</th>
                    <th>Current Tick</th>
                    <th>Base Tick</th>
                </tr>
            </thead>
            <tbody>
                
                <tr>
                    <td>05usdcusdt</td>
                    <td>ZERO</td>
                    <td>-2</td>
                    <td>0</td>
                </tr>
                
                <tr>
                    <td>01usdcusdt</td>
                    <td>ZERO</td>
                    <td>1</td>
                    <td>0</td>
                </tr>
                
                <tr>
                    <td>01daimimatic</td>
                    <td>THREE</td>
                    <td>84</td>
                    <td>0</td>
                </tr>
                
                <tr>
                    <td>01usdcbusd</td>
                    <td>ZERO</td>
                    <td>276325</td>
                    <td>276324</td>
                </tr>
                
                <tr>
                    <td>01daiusdc</td>
                    <td>ZERO</td>
                    <td>276325</td>
                    <td>276324</td>
                </tr>
                
                <tr>
                    <td>01daiusdt</td>
                    <td>ZERO</td>
                    <td>-276326</td>
                    <td>-276324</td>
                </tr>
                
                <tr>
                    <td>05daiusdc</td>
                    <td>ZERO</td>
                    <td>276328</td>
                    <td>276324</td>
                </tr>
                
            </tbody>
        </table>
    
      </body>
    </html>
    