<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kyle Jennings</title>
</head>
<body>
    <nav>
            <ul>
                <!-- <li><a href="/">Home</a></li> --> 
                <li><a href="get_company_data.html">Company Financial Data</a></li>
                <li><a href="/TBD.html">Economic Data</a></li>
                <li><a href="/TBD.html">Blockchain Analytics</a></li>
                <li><a href="/TBD.html">Formula 1</a></li>
                <!-- <li><a href="/other_section">Other Section</a></li> -->
                <!-- Add more menu options as needed -->
            </ul>
    </nav>
</body>
</html>